<div class="row my-5">
    <div class="col-md-4 mb-5">
        <mat-card>
            <mat-card-title align="center">
                Users List
            </mat-card-title>
            <mat-card-content *ngIf="usersArr.length>0; else noUser">
                <mat-list class="userList">
                    <mat-list-item class="listItem" *ngFor="let user of usersArr; let i =index"
                        [routerLink]="[user.userId]" [queryParams]="{userRole:user.userRole}"
                        routerLinkActive="active"><span style="width: 20px;">{{i+1+']'}}</span>
                        <mat-icon class="mx-2">account_circle</mat-icon>
                        {{user.userName}}
                    </mat-list-item>
                </mat-list>
                <div class="mt-4" align="end">
                    <button mat-fab routerLink="addUser">
                        <mat-icon>person_add</mat-icon>
                    </button>
                </div>
            </mat-card-content>
            <ng-template #noUser>
                <p class="alert alert-danger">
                    No User Found!!!
                </p>
            </ng-template>
        </mat-card>
    </div>
    <div class="col-md-8">
        <router-outlet></router-outlet>
    </div>
</div>