<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="productCard">
            <mat-card>
                <mat-card-content>
                    <figure>
                        <div class="image mb-3">
                            <img [src]="prodObj.image" [alt]="prodObj.image" [title]="prodObj.model">
                        </div>
                        <figcaption class="text-center">
                            <h2 class="mb-0">{{prodObj.brand+" "+prodObj.model}}</h2>
                            <h3 class="mb-0 d-flex align-items-center justify-content-center">
                                <mat-icon>currency_rupee</mat-icon>
                                <span>{{prodObj.price}}</span>
                            </h3>
                        </figcaption>
                    </figure>
                    <div class="d-flex justify-content-between">
                        <button mat-raised-button color="primary" (click)="onEdit()">Edit</button>
                        <button mat-raised-button color="warn" (click)="onRemove(prodObj.prodId)">Remove</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>